#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #BFC0C2;
  
}

/* Inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin:  8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

button{
  color: black;
  padding:  14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:  100%;
  background-color: #61dafbaa;
}

button:hover{
  opacity: 0.8;
}